@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;padding: 0; box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Montserrat', Arial, Roboto;
}
.botao-comprar{
    background-color:rgb(145, 243, 152);
}
html{
    scroll-behavior: smooth;
}
header h1{
    color:rgb(59, 133, 133)
}
main > section{
    color:rgb(80, 36, 36)
}
h2+p{
    color: rgb(88, 88, 152);
}
input[type= "email"]{
    border-color:rgb(31, 20, 20);
    background-color: rgba(88, 88, 152, 0.222);
}
button:hover{
    color:blueviolet;
    text-decoration: underline;
}
link:hover{
    color:blueviolet;
    text-decoration: underline;
}
h2::first-letter{
    font-size: larger;
}
h1{
    font-weight: 700;
}
p{
    line-height: normal;
}
h2{
    font-weight: 600;
}
nav a{
    text-decoration: none;
    color:rgb(94, 94, 255);
    padding: auto
}
img{
    max-width: 100%;
}
table tr td:nth-child(even){
    background-color:rgb(207, 233, 255)
}